body{
	margin: 0;
	padding: 0;
}

/* .btn-primary{
    z-index: -100;
} */

/* -------------------------------------- sidebar css -------------------------------------- */
.sidebar{
    float: left;
    width: 80px;
    height: 100%;
    background: #333;
    overflow: hidden;
    margin-left: -80px;
    transition: 0.8s all;
    border-radius: 5px;
}

.side{
    margin-left: 0;
}

.sidebar ul{
    margin: 0;
    padding: 0;
}

.sidebar ul li{
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    transition: 0.6s all;
}


.sidebar ul li a span{
    font-size: 30px;

}

.sidebar-icon{
    display: block;
    width: 100%;
}

.sidebar-icon-label{
    text-decoration: none;
    color: #9d9d9d;
    width: 100%;
    font-size: 15px;
    /*line-height: 60px;*/
    text-align: center;
    display: block;
    padding-top: 5px;
}

.sidebar-icon:hover{
    color: #fff;
}


.btn-open-side-bar{
    float: left;
    padding: 0 10px;
    font-size: 30px;
    text-decoration: none;
    color: #9d9d9d;
    cursor: pointer;
}

/* -------------------------------------- Iframe -------------------------------------- */
.iframe {
    display: block;
    position: fixed;
    left: 50%;
    margin-left: -35%;
    width: 70%;
    height: 85%;
    text-align: center;
}

/* -------------------------------------- Text Area -------------------------------------- */
#SQL_convertor_container{
    width: 70%;
    height: 85%;
    display:block;
    position:fixed;
    left:50%;
    margin-left:-35%;
    border: 2px solid black;
    display: none;
}

#SQL_convertor_textarea{
    width: 100%;
    height: 90%;
    margin-top: 0;
}

#convert-btn,
#copy-btn,
#reverse-btn {
    float: right;
    margin-left: 5px;
}

/* -------------------------------------- upload window -------------------------------------- */
#upload_window{
    display: block;
    width: 50%;
    margin: auto;
}

#file_upload_form{ 
    text-align: center;
}

input[type="file"] {
    display: none;
}

#file_selected {
    display: block;
}

#file_destination {
    margin-top: 10px;
}

.success_message {
    color: green;
}

.failure_message {
    color: red;
}

/* -------------------------------------- Doc Manager  -------------------------------------- */
#doc_manager_title {
    text-align: center;
}

#doc_manager_container {
    display: block;
    width: 50%;
    height: 350px;
    margin: auto;
}

#doc_manager_wrapper {
    border: 2px black solid;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

#directory_manager {
    width: 35%;
    border: 2px red solid;
}

#file_manager {
    width: 35%;
    border: 2px red solid;
}

#arrow_sign {
    width: 20%;
    border: 2px red solid;
}

.sub_title {
    display: block;
    margin:0px;
    max-height: 25px;
    text-align: center;
}

#directory_manager_form,
#file_manager_form {
    border: 2px solid green;
    height: 275px;
    margin-bottom: 5px;
}

.doc_manager_btn_group {
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.doc_manager_btn_group button {
    width: 74px;
}

#doc_manager_dir_list,
#doc_manager_file_list {
    display: block;
    width: 100%;
    height: 100%;
}

#original_dir_name,
#original_file_name {
    color: red;
}