body{
	margin: 0;
	padding: 0;
}

/*sidebar css*/
.sidebar{
    float: left;
    width: 80px;
    height: 100%;
    background: #333;
    overflow: hidden;
    margin-left: -80px;
    transition: 0.8s all;
    border-radius: 5px;
}

.side{
    margin-left: 0;
}

.sidebar ul{
    margin: 0;
    padding: 0;
}

.sidebar ul li{
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    transition: 0.6s all;
}


.sidebar ul li a span{
    font-size: 30px;

}

.sidebar-icon{
    display: block;
    width: 100%;
}

.sidebar-icon-label{
    text-decoration: none;
    color: #9d9d9d;
    width: 100%;
    font-size: 15px;
    /*line-height: 60px;*/
    text-align: center;
    display: block;
    padding-top: 5px;
}

.sidebar-icon:hover{
    color: #fff;
}


.btn-open-side-bar{
    float: left;
    padding: 0 10px;
    font-size: 30px;
    text-decoration: none;
    color: #9d9d9d;
    cursor: pointer;
}

/*Text Area*/
#SQL_convertor_container{
    width: 70%;
    height: 85%;
    display:block;
    position:fixed;
    left:50%;
    margin-left:-35%;
    border: 2px solid black;
    display: none;
}

#SQL_convertor_textarea{
    width: 100%;
    height: 90%;
    margin-top: 0;
}


/*upload window*/
#upload_window{
    display: none;
}



/*.btn-open-side-bar:before{
    content:"\e236";
}

.btn-close-side-bar:before{
    content:"\e014";
}*/



/* #333;
  #9d9d9d;
   #fff;*/